<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.teamName%>
      </h1>
      <body>
        The race begins at 11 AM and lasts all the way to 5 PM. In the middle, we have a lunch break provided at 1 PM.
      </body>
      <li>
        <%= @user.name %>
        <%= @user.teamName%>
      </li>
    
    </section>
    
  </aside>
</div>